service cloud.firestore {
  match /databases/{database}/documents {
    match /posts/{postId} {
      allow read, create;
      allow update, delete: if request.auth.uid == resource.data.user.uid;
    }
    match /users/{userId} {
      allow read;
      allow update, delete: if request.auth.uid == userId;
      allow create: if request.auth.uid != null;
    }
  }
}
