service cloud.firestore {
  match /databases/{database}/documents {
    match /posts/{postId} {
      allow create;
      allow read: if resource.data.published == true || request.auth.uid == resource.data.userId;
      allow update: if resource.data.published == false && request.auth.uid == resource.data.userId;
    }
    match /users/{user} {
      allow read;
      allow update: if resource.data.uid == null;
      allow create: if request.auth == null;
    }
  }
}
