rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    match /posts/{fileId} {
      allow read;
      allow create:
        if request.auth != null
          && request.resource.contentType.matches('image/.*')
          && firestore.exists(/databases/(default)/documents/posts/$(fileId));
    }
  }
}
