service firebase.storage {
  match /b/{bucket}/o {
    match /user/{userId}/{allPaths=**} {
      allow read;
      allow write: if request.resource.contentType.matches('image/.*')
                   && if request.auth.uid == userId;
    }
  }
}
