service firebase.storage {
  match /b/{bucket}/o {
    match /user/{userId}/{allPaths=**} {
      // Everyone can read (get, list)
      allow read;

      // Images can only be created
      allow create: if request.auth.uid == userId && request.resource.contentType.matches('image/.*');
    }
  }
}
